<div id="<%= dom_id profile %>">
  <div>
    <strong>Name:</strong>
    <%= profile.name %>
  </div>

  <div>
    <strong>Youtube:</strong>
    <%= profile.youtube %>
  </div>

  <div>
    <strong>Twitch:</strong>
    <%= profile.twitch %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= profile.email %>
  </div>

  <div>
    <strong>Other:</strong>
    <%= profile.other %>
  </div>

</div>
